# dependencies
node_modules/
.pnpm-debug.log*
.yarn/*
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.pnp.*

# Next.js
.next/
out/

# production
build/
dist/

# testing
coverage/
test-results/

# misc
.DS_Store
.env*
*.local
*.log
*.tsbuildinfo

# IDEs
.idea/
.vscode/
*.sublime*

# eslint / stylelint
.eslintcache
.stylelintcache
/src/generated/prisma
